html
    head
        link(rel="stylesheet" href="/public/reset.css")
        link(rel="stylesheet" href="/public/style.css")
        script(type="module", src="/public/script.js")
        title Microblog-Service

    body
        block header
        block content