div.wrapper-header
    header.header.container
        nav.navigation
            ul.nav
                li
                    a(class='button' href=`/${user.role === 'admin' ? 'admin' : ''}`) Home page              
                if user.role === "user"
                    li
                        a(class='button' href=`/my-posts/${user.id}`) My Posts
                    li
                        a(class='button' href=`/add-posts/`) Add post
            ul.authentication
                if user.role
                    li
                        a(class='button' href='/logout') Logout
                else
                    li
                        a(class='button' href='/login') Login
                    li
                        a(class='button' href='/register') Register
